exportPattern(".")
import(ismev)
import(rmutil)

importFrom("graphics", "curve","hist","points","par")
importFrom("stats","dt","pnorm","ppoints","pt","qnorm","plogis","qlogis","dlogis","dnorm","qqline","qqplot","qt","sd","var")
